@model List<ToDoList>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Index.cshtml";
    int count = 0;
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <h4 class="page-title text-center font-weight-bold mb-4">Yapılacaklar</h4>

            <div class="col-md-12">
                <!-- To-Do List Card -->
                <div class="card shadow-sm border-0 rounded">
                    <div class="card-header bg-primary text-white">
                        <h5 class="mb-0">Yapılacaklar Listesi</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text mb-4">
                            Yapılacaklarla ilgili işlemleri aşağıdaki panelden gerçekleştirebilirsiniz.
                        </p>

                        <!-- To-Do List Table -->
                        <table class="table table-striped mt-3">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">İçerik</th>
                                    <th scope="col">Tarih</th>
                                    <th scope="col">Durum</th>
                                    <th scope="col" class="text-center">İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    count++;
                                    <tr>
                                        <td>@count</td>
                                        <td>@item.Title</td>
                                        <td>@item.Date</td>
                                        @if (item.Status == true)
                                        {
                                            <td><a href="/ToDoList/ChangeToDoListStatusToFalse/@item.ToDoListId" class="btn btn-danger btn-sm">Yapılmadı Olarak İşaretle</a></td>
                                        }
                                        else
                                        {
                                            <td><a href="/ToDoList/ChangeToDoListStatusToTrue/@item.ToDoListId" class="btn btn-success btn-sm">Yapıldı Olarak İşaretle</a></td>
                                        }
                                        <td class="text-center">
                                            <a href="/ToDoList/DeleteToDoList/@item.ToDoListId" class="btn btn-outline-danger btn-sm" title="Sil">
                                                <i class="fas fa-trash-alt"></i> Sil
                                            </a>
                                            <a href="/ToDoList/UpdateToDoList/@item.ToDoListId" class="btn btn-outline-success btn-sm ml-2" title="Güncelle">
                                                <i class="fas fa-edit"></i> Güncelle
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        <!-- Add New To-Do Button -->
                        <div class="text-right mt-4">
                            <a href="/ToDoList/CreateToDoList/" class="btn btn-info btn-lg">
                                <i class="fas fa-plus-circle"></i> Yeni Yapılacak İşlem Girişi
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br /><br />
    </div>
</div>
