@model Skill
@{
    ViewData["Title"] = "CreateSkill";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Yetenek Bilgileri</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Yetenek Bilgileri Ekleme Sayfası</div>
					</div>
					<div class="card-body">
						<form method="post">
							<label>Yetenek Başlığı</label>
							<input type="text" asp-for="Title" class="form-control" />
							<br />
							<label>Yetenek Url</label>
							<input type="text" asp-for="Value" class="form-control" />
							<br />
							<button class="btn btn-info">Yetenek Ekle</button>
						</form>
					</div>
					<br />
					<br />
					<br />
					<br />
					<br />
					<br />
					<br />
					<br />
					<br />
					<br />
					<br />
				</div>
			</div>
		</div>
	</div>
</div>

