@model List<Experience>
@{
    ViewData["Title"] = "Experience List";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Deneyimler</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card shadow-sm border-0 rounded">
                    <div class="card-header bg-primary text-white">
                        <h5 class="mb-0">Deneyim Listesi</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Deneyimler ile ilgili işlemleri aşağıdaki panelden yapabilirsiniz.
                        </p>
                        <table class="table table-striped mt-3">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Başlık</th>
                                    <th scope="col">Unvan</th>
                                    <th scope="col">Tarih</th>
                                    <th scope="col" class="text-center">İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.ExperienceId</td>
                                        <td>@item.Head</td>
                                        <td>@item.Title</td>
                                        <td>@item.Date</td>
                                        <td class="text-center">
                                            <a href="/Experience/DeleteExperience/@item.ExperienceId" class="btn btn-outline-danger btn-sm" title="Sil">
                                                <i class="fas fa-trash-alt"> Sil</i>
                                            </a>
                                            <a href="/Experience/UpdateExperience/@item.ExperienceId" class="btn btn-outline-success btn-sm ml-2" title="Güncelle">
                                                <i class="fas fa-edit"> Güncelle</i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="text-right">
                            <a href="/Experience/CreateExperience/" class="btn btn-info btn-lg mt-3">
                                <i class="fas fa-plus-circle"></i> Yeni Deneyim Girişi
                            </a>
                        </div>
                    </div>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>
